<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.mockpayment.persistence.mapper.PayOrderMapper">

    <sql id="orderColumns">
          P.ID AS P_ID,
          P.CUSTOMER_ID AS P_CUSTOMER_ID,
          P.ORDER_ID AS  P_ORDER_ID,
          P.USER_NAME AS P_USER_NAME,
          P.ID_CARD_NO AS P_ID_CARD_NO,
          P.BANK_CODE AS P_BANK_CODE,
          P.BANK_CARD_NO AS P_BANK_CARD_NO,
          P.BANK_NAME AS P_BANK_NAME,
          P.EXPAND_INFO AS P_EXPAND_INFO,
          P.AMOUNT AS P_AMOUNT,
          P.CURRENCY AS P_CURRENCY
          P.BANK_SERIAL_NO AS P_BANK_SERIAL_NO
          P.PAY_STATUS AS P_PAY_STATUS,
          P.PAY_MESSAGE AS P_PAY_MESSAGE,
          P.PAY_AT AS P_PAY_AT,
          P.CREATED_AT AS P_CREATED_AT,
    </sql>

    <resultMap id="payOrder" type="com.thoughtworks.mockpayment.persistence.model.PayOrder">
        <id column="P_ID" property="id"/>
        <result column="P_CUSTOMER_ID" property="customerId"/>
        <result column="P_ORDER_ID" property="orderId"/>
        <result column="P_USER_NAME" property="userName"/>
        <result column="P_ID_CARD_NO" property="idCardNo"/>
        <result column="P_BANK_CODE" property="bankCode"/>
        <result column="P_BANK_CARD_NO" property="bankCardNo"/>
        <result column="P_BANK_NAME" property="bankName"/>
        <result column="P_EXPAND_INFO" property="expandInfo"/>
        <result column="P_AMOUNT" property="amount"/>
        <result column="P_CURRENCY" property="currency"/>
        <result column="P_BANK_SERIAL_NO" property="bankSerialNo"/>
        <result column="P_PAY_STATUS" property="payStatus"/>
        <result column="P_PAY_MESSAGE" property="payMessage"/>
        <result column="P_PAY_AT" property="payAt"/>
        <result column="P_CREATED_AT" property="createdAt"/>
    </resultMap>

    <insert id="insertNewOrder">
        INSERT INTO PAY_ORDER(CUSTOMER_ID, ORDER_ID, USER_NAME, ID_CARD_NO, BANK_CODE, BANK_CARD_NO, BANK_NAME,
                        EXPAND_INFO, AMOUNT, CURRENCY, PAY_STATUS, CREATED_AT)
        VALUES (#{order.customerId}, #{order.orderId}, #{order.userName}, #{order.idCardNo}, #{order.bankCode},
                #{order.bankCardNo}, #{order.bankName},#{order.expandInfo}, #{order.amount}, #{order.currency},
                #{order.payStatus}, #{order.createdAt})
    </insert>

    <update id="updatePayStatus">
        UPDATE PAY_ORDER SET BANK_SERIAL_NO#{bankSerialNo}, PAY_STATUS=#{payStatus}, PAY_MESSAGE=#{payMessage},
              PAY_AT=#{payAt}
        WHERE ORDER_ID=#{orderId}
    </update>

</mapper>
