<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.mockpayment.persistence.mapper.WithdrawOrderMapper">

    <sql id="orderColumns">
          W.ID AS W_ID,
          W.WITHDRAW_FLOW_ID AS W_WITHDRAW_FLOW_ID,
          W.CUSTOMER_ID AS W_CUSTOMER_ID,
          W.ORDER_ID AS  W_ORDER_ID,
          W.BANK_CODE AS W_BANK_CODE,
          W.BANK_CARD_NO AS W_BANK_CARD_NO,
          W.BANK_NAME AS W_BANK_NAME,
          W.USER_NAME AS W_USER_NAME,
          W.AMOUNT AS W_AMOUNT,
          W.WITHDRAW_STATUS AS W_WITHDRAW_STATUS,
          W.WITHDRAW_MESSAGE AS W_WITHDRAW_MESSAGE,
          W.RESPONSE_CODE AS W_RESPONSE_CODE,
          W.WITHDRAW_AT AS W_WITHDRAW_AT,
          W.QUERY_STATUS AS W_QUERY_STATUS,
          W.QUERY_MESSAGE AS W_QUERY_MESSAGE,
          W.QUERY_RESPONSE_CODE AS W_QUERY_RESPONSE_CODE,
          W.QUERY_AT AS W_QUERY_AT,
          W.CREATED_AT AS W_CREATED_AT
    </sql>

    <resultMap id="withdrawOrder" type="com.thoughtworks.mockpayment.persistence.model.WithdrawOrder">
        <id column="W_ID" property="id"/>
        <result column="W_WITHDRAW_FLOW_ID" property="withdrawFlowId"/>
        <result column="W_CUSTOMER_ID" property="customerId"/>
        <result column="W_ORDER_ID" property="orderId"/>
        <result column="W_BANK_CODE" property="bankCode"/>
        <result column="W_BANK_CARD_NO" property="bankCardNo"/>
        <result column="W_BANK_NAME" property="bankName"/>
        <result column="W_USER_NAME" property="userName"/>
        <result column="W_AMOUNT" property="amount"/>
        <result column="W_WITHDRAW_STATUS" property="withdrawStatus"/>
        <result column="W_WITHDRAW_MESSAGE" property="withdrawMessage"/>
        <result column="W_RESPONSE_CODE" property="responseCode"/>
        <result column="W_WITHDRAW_AT" property="withdrawAt"/>
        <result column="W_QUERY_STATUS" property="queryStatus"/>
        <result column="W_QUERY_MESSAGE" property="queryMessage"/>
        <result column="W_QUERY_RESPONSE_CODE" property="queryResponseCode"/>
        <result column="W_QUERY_AT" property="queryAt"/>
        <result column="W_CREATED_AT" property="createdAt"/>
    </resultMap>

    <insert id="insertNewOrder">
        INSERT INTO WITHDRAW_ORDER(CUSTOMER_ID, WITHDRAW_FLOW_ID, ORDER_ID, USER_NAME, BANK_CODE, BANK_CARD_NO, BANK_NAME,
                        AMOUNT, WITHDRAW_STATUS, QUERY_STATUS, CREATED_AT)
        VALUES (#{order.customerId}, #{order.withdrawFlowId}, #{order.orderId}, #{order.userName}, #{order.bankCode},
                #{order.bankCardNo}, #{order.bankName}, #{order.amount},
                #{order.withdrawStatus}, #{order.queryStatus}, #{order.createdAt})
    </insert>

    <update id="updateWithdrawStatus">
        UPDATE WITHDRAW_ORDER SET WITHDRAW_STATUS=#{withdrawStatus}, WITHDRAW_MESSAGE=#{withdrawMessage},
                                RESPONSE_CODE=#{responseCode}, WITHDRAW_AT=#{withdrawAt}
        WHERE WITHDRAW_FLOW_ID=#{withdrawFlowId}
    </update>

    <update id="updateQueryStatus">
        UPDATE WITHDRAW_ORDER SET QUERY_STATUS=#{queryStatus}, QUERY_MESSAGE=#{queryMessage},
        QUERY_RESPONSE_CODE=#{queryResponseCode}, QUERY_AT=#{queryAt}
        WHERE WITHDRAW_FLOW_ID=#{withdrawFlowId}
    </update>

    <select id="findOrderByFlowId" resultMap="withdrawOrder">
        SELECT
        <include refid="orderColumns"/>
        FROM WITHDRAW_ORDER W
        WHERE W.WITHDRAW_FLOW_ID=#{withdrawFlowId}
    </select>

    <select id="findOrderByOrderId" resultMap="withdrawOrder">
        SELECT
        <include refid="orderColumns"/>
        FROM WITHDRAW_ORDER W
        WHERE W.ORDER_ID=#{orderId}
    </select>
</mapper>
